<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="header-css">



	<link rel="stylesheet"
		th:href="@{/css/primeui/themes/afterdark/theme.css}"
		href="../../css/primeui/themes/afterdark/theme.css" />


	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"
		href="../../css/jquery-ui.min.css" />

	<!--         <link rel="stylesheet" type="text/css" href="https://www.primefaces.org/primeui/showcase/resources/css/perfect-scrollbar.css" /> -->
	<!--         <link rel="stylesheet" type="text/css" href="https://www.primefaces.org/primeui/showcase/resources/css/sh.css" /> -->
	<script type="text/javascript"
		src="https://www.primefaces.org/primeui/showcase/resources/js/jquery.js"></script>

	<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}" />

	<!--         <script type="text/javascript" src="https://www.primefaces.org/primeui/showcase/resources/js/jquery-ui.js"></script> -->
	<script type="text/javascript" src="../../js/jquery-ui.min.js" />

	<!--         <script type="text/javascript" src="https://www.primefaces.org/primeui/showcase/resources/js/perfect-scrollbar.js"></script> -->
	<!--         <script type="text/javascript" src="https://www.primefaces.org/primeui/showcase/resources/js/site.js"></script> -->
	<!--         <script type="text/javascript" src="https://www.primefaces.org/primeui/showcase/resources/js/index.js"></script> -->

	<!-- Dependencies of some widgets -->
	<!--         <script type="text/javascript" src="https://www.primefaces.org/primeui/showcase/resources/js/plugins/plugins-all.js"></script> -->

	<!-- Mustache for templating support -->
	<script type="text/javascript"
		src="https://www.primefaces.org/primeui/showcase/resources/js/plugins/mustache.min.js"></script>

	<!-- X-TAG for PrimeElements -->
<!-- 	<script -->
<!-- 		src="https://github.com/x-tag/core/tree/master/dist/x-tag-polyfilled.js"></script> -->
		
<!-- 		<script -->
<!-- 		src="https://github.com/x-tag/core/tree/master/dist/x-tag-raw.js"></script> -->
			
	<!-- PrimeUI -->
	<link rel="stylesheet" th:href="@{/css/primeui/primeui.min.css}"
		href="../../css/primeui/primeui.min.css" />
	<!--         <script type="text/javascript" src="https://www.primefaces.org/primeui/build/primeui.js"></script> -->
	<script type="text/javascript" src="../../js/primeui.js" />
<!-- 	<script type="text/javascript" src="../../js/primeelements.min.js"></script> -->



	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" />





	<!-- 		<script type="text/javascript" -->
	<!-- 		src="webjars/jquery/3.3.1/jquery.min.js"></script> -->
	<!-- 		<script src="https://code.jquery.com/ui/1.12.0-rc.1/jquery-ui.min.js" integrity="sha256-mFypf4R+nyQVTrc8dBd0DKddGB5AedThU73sLmLWdc0=" crossorigin="anonymous"></script> -->


	<link rel="stylesheet" type="text/css"
		href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />


	<!-- 		<link rel="stylesheet" href="https://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css" /> -->

	<!-- <link rel="stylesheet" href="https://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css" /> -->



	<!-- 	<link rel="stylesheet" th:href="@{/css/main.css}" -->
	<!-- 		href="../../css/main.css" /> -->



	<!-- 	<script type="text/javascript" src="../../css/primeui/primeui.min.js" /> -->


	<!-- 	<script type="text/javascript" src="../../css/primeui/primeelements.min.js"></script>	 -->




	<!-- 	<script type="text/javascript" -->
	<!-- 		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<!-- 	<link rel="stylesheet" type="text/css" -->
	<!-- 		href="webjars/datatables/1.10.16/css/jquery.dataTables.min.css" /> -->
	<!-- 	<script type="text/javascript" -->
	<!-- 		src="webjars/datatables/1.10.16/js/jquery.dataTables.min.js"></script> -->



	<script th:inline="javascript">
/*<![CDATA[*/

    var totalArticles = /*[[${totalArticles}]]*/ 'default';
    console.log(totalArticles);

/*]]>*/
</script>
	<script type="text/javascript" th:href="@{/js/http.js}"
		src="../../js/http.js" />
	<script type="text/javascript" th:href="@{/js/main.js}"
		src="../../js/main.js" />

</div>
</head>
<body>
	<div th:fragment="header">



		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">WebSiteName</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Page 1-1</a></li>
								<li><a href="#">Page 1-2</a></li>
								<li><a href="#">Page 1-3</a></li>
							</ul></li>
						<li><a href="#">Page 2</a></li>
						<li><a href="#">Page 3</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span>
								Register</a></li>
						<li><a th:href="@{/user}"><span class="glyphicon glyphicon-log-in"></span>
								Login</a></li>
						 
					</ul>
				</div>
			</div>
		</nav>

		<!-- this is header  
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">Spring Boot</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}">Home</a></li>
					</ul>
				</div>
			</div>
		</nav> -->
	</div>

</body>
</html>